.cloud-layout {
  background-color: #001529;
  min-height: calc(100vh - 64px);
}

.cloud-layout-img {
  background-image: url("bg_test.png");
  background-size: 130%;
  background-position: 50% 50%;
}

.particles-js-canvas-el {
  height: calc(100vh - 64px) !important;
}