.NewsView .ant-layout-header{
    background-color: rgb(240, 242, 245);
    color: black;
}
.ant-layout-sider{
    background-color: rgb(240, 242, 245);
}
.chrono-wrap{
    width: 100%;
    max-width: 80rem;
    /*height: 50vw;*/
}
.timeline-controls{
    display: none!important;
}
h2{
    margin-top: 1rem;
}
h2::before{
    content: '#';
}
.timeline-item-title {
    max-width: 7rem;
}
.css-mpnodf-TimelineTitleWrapper {
    width: unset;
}
.card-title, .card-sub-title{
    width: 95.5%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.timeline-item-title.active{
    background-color: unset!important;
}
.timeline-vertical-circle > .active{
    color:white;
}