.NewsView .ant-layout-header{
    background-color: rgb(240, 242, 245);
    color: black;
}
.ant-layout-sider{
    background-color: rgb(240, 242, 245);
}
.chrono-wrap{
    width: 100%;
    max-width: 80rem;
    /*height: 50vw;*/
}
.timeline-controls{
    display: none!important;
}
h2, .ant-typography{
    margin: 1rem 4rem;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

h2::before{
    content: '#';
}
.timeline-item-title {
    max-width: 7rem;
}
.css-mpnodf-TimelineTitleWrapper {
    width: unset;
}
.card-title, .card-sub-title{
    width: 95.5%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.timeline-item-title.active{
    background-color: unset!important;
}
.timeline-vertical-circle > .active{
    color:white;
}

.timeline-card-content {
    padding: 10px 10px 0 10px;
}

.css-d0st9p-CardImage {
    width: 100%;
    overflow: hidden;
    height: 200px;
    object-fit: cover !important;
    border-radius: 2px;
    margin-bottom: 10px;
}